@import "normalize.css";
* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}
html {
  font-size: calc(100vw / 390);
}
#root {
  text-align: center;
  height: 100vh;
  
}

.adm-input,.adm-list-item-content,.adm-list-item{
  background:transparent !important;
  position: relative;
}

.adm-form-item-feedback-error{
  position: absolute;
  top:28rem;;
}