.container{
    font-size: 12rem;
    width: 390rem;
    background: hsl(200, 9%, 94%);
    height: 100vh;
    transition: all 0.3s linear;
    display: flex;
    align-items: center;
    padding-top: 76rem;
   justify-content: center;
}